.drawn {
    background-color: black;
}

.drawn_rainbow {
    background-color: red;
}

#main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#controls {
    display: grid; 
    row-gap: 15px;
}

#canvas {
    box-shadow: 0px 0px 10px gray; 
    height: 640px; 
    width: 640px;
}

#title {
    text-align: center;
    font-size: 120px;
    margin-bottom: 50px;
}